<div class="jumbotron">
  <h1>Let's get cooking!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat, tellus eget vulputate accumsan, est diam iaculis dolor, et dapibus erat mi id erat. Suspendisse non faucibus arcu, nec viverra mauris. Nullam pretium mi non lacus molestie, in cursus urna egestas. Nulla convallis lacus dui, ac convallis sapien elementum venenatis. Pellentesque ullamcorper suscipit libero elementum accumsan. Nulla sagittis suscipit tincidunt. Nam molestie euismod turpis, consectetur viverra purus scelerisque id.
  </p>
  <%= link_to "Learn More", details_path, class: "btn btn-success btn-lg" %>

</div>
