<div class="jumbotron">
  <h1>Foodster!</h1>
  <p>
    Foodster in a nutshell
  </p>
  <%= link_to "Sign up!", sign_up_path, class: "btn btn-success btn-lg" %>
</div>
<div class="row">
  <div class="col-xs-4">
    <h2>Talking point 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue vel mi convallis tempor. Curabitur tempus lacus sit amet dui cursus, in hendrerit mauris lacinia. Aenean lobortis quis sem mattis ullamcorper. Vivamus in pulvinar libero. Praesent vel rutrum erat. Sed blandit blandit tellus, quis interdum diam elementum laoreet. Nullam vitae velit at dui aliquam mattis. Donec et elit ut risus convallis pretium. Pellentesque molestie justo sit amet semper commodo. Cras quis cursus erat. Proin convallis tortor sem, vitae tincidunt lorem aliquet sed. Aenean nec ornare justo, at luctus metus. Nam pellentesque lectus eu ante consequat, nec sollicitudin ipsum tristique. In hac habitasse platea dictumst. Vestibulum tristique sem dui, a ultrices magna finibus consequat. Suspendisse mauris elit, faucibus a interdum id, sagittis vel nulla.

      Nulla id cursus erat. Donec varius metus ut justo faucibus aliquet. Morbi viverra justo ut ante hendrerit maximus. Donec id orci non eros sagittis feugiat vel vitae augue. Integer tempus tellus quis sapien blandit congue. Nunc feugiat odio non quam pretium pulvinar. Mauris eget lectus tincidunt, lobortis mi a, luctus nulla. Praesent vel velit arcu. Pellentesque vehicula odio eget dapibus scelerisque. Aliquam imperdiet consequat sapien ut eleifend. Nullam feugiat vel leo in feugiat. Maecenas sed sem in eros finibus tempor.
    </p>
  </div>
  <div class="col-xs-4">
    <h2>Talking point 2</h2>
    <p>
      Nulla id cursus erat. Donec varius metus ut justo faucibus aliquet. Morbi viverra justo ut ante hendrerit maximus. Donec id orci non eros sagittis feugiat vel vitae augue. Integer tempus tellus quis sapien blandit congue. Nunc feugiat odio non quam pretium pulvinar. Mauris eget lectus tincidunt, lobortis mi a, luctus nulla. Praesent vel velit arcu. Pellentesque vehicula odio eget dapibus scelerisque. Aliquam imperdiet consequat sapien ut eleifend. Nullam feugiat vel leo in feugiat. Maecenas sed sem in eros finibus tempor.
    </p>
  </div>
  <div class="col-xs-4">
    <h2>Talking point 3</h2>
    <p>
      Etiam sodales mollis tellus at efficitur. Phasellus faucibus sem in pretium dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam scelerisque massa, vel tristique tortor vestibulum eget. Pellentesque nec nibh at est maximus dapibus id non nibh. Ut dapibus sagittis consequat. Phasellus non leo ipsum. Nam volutpat erat sit amet imperdiet venenatis. Ut mollis, lectus eu pellentesque aliquet, nisl turpis porta purus, eu congue orci ante nec lectus. Duis aliquam consequat egestas.
    </p>
  </div>
</div>

<%= link_to "Subscribe Now!", new_subscription_path, class: "btn btn-success" %>
