<div class="row">
  <% @results.each do |result| %>
    <div class="col-md-4">
      <div class="thumbnail result">
        <%= image_tag result.thumbnail %>
        <div class="caption">
          <h3><%= result.recipe_name %></h3>

          <% result.rating.times do %>
            ⭐️
          <% end %>
          <% (5 - result.rating).times do %>
            ☆
          <% end %>
          <br/>
          <strong>Prep Time:</strong> <%= distance_of_time_in_words result.total_time_in_seconds %>
          <br/>
          <div class="footer">
            <%= link_to "See more", recipes_show_path(id: result.id), class: "btn btn-success btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
