<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag recipe.thumbnail %>
        <div class="caption">
          <h3><%= recipe.recipe_name %></h3>

          <% recipe.rating.times do %>
            ⭐️
          <% end %>
          <% (5 - recipe.rating).times do %>
            ☆
          <% end %>
          <br/>
          <strong>Prep Time:</strong> <%= distance_of_time_in_words recipe.total_time_in_seconds %>
          <br/>
          <%= link_to "See more", recipes_show_path(id: recipe.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
