<div class="recipe-details">
  <h1><%= @recipe.name %></h1>
  <% @recipe.images.each do |image| %>
    <%= image_tag image.large_url %>
  <% end %>
  <br/>
  <span class="time">Total Time: </span><%= @recipe.total_time %>
  <br/>
  <dl class="ingredients">
    <dt>Ingredients</dt>
    <% @recipe.ingredients.each do |ingredient| %>
      <dd><%= ingredient %></dd>
    <% end %>
  </dl>
</div>
