<h1>Subscribe Now</h1>
<p>
  Sign up for a subscription and for only $4.99 a month you gain access to all the power of Yummly and our custom recipe planner.
</p>
<div class="subscribe-button">
  <%= render 'payola/subscriptions/checkout', plan: @plan, email: @current_user.email %>
</div>
