<h1>Subscriptions#new</h1>
<p>Find me in app/views/subscriptions/new.html.erb</p>

<div class="subscribe-button">
  <%= render 'payola/subscriptions/checkout', plan: @plan, email: @current_user.email %>
</div>
