<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Foodster</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign In", sign_in_path %></li>
      </ul>
    </div>
  </div>
</nav>
